@use 'variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: $ff-primary;
  font-size: 16px;
  line-height: 1.5;
  background-color: $bg-color;
}